<section class="tab-page">
    <div>

        <div class="row align-items-center mb-5">
            <div class="col-12 col-lg-8">
                <h1>BRAND STORIES</h1>
            </div>
            <div class="col-12 col-lg-4 text-lg-end">
                <p class="small-p">
                    Compelling narratives<br>
                    that bring your brand to life<br>
                    and connect with your audience.
                </p>
            </div>
        </div>

        <div class="row g-4">

            <!-- CARD 1 -->
            <div class="col-12 col-md-6">
                <div class="brand-card dark">
                    <span class="brand-bg-number left">01</span>

                    <h2 class="brand-card-title">EMOTIONAL CONNECTION</h2>

                    <p class="brand-text text-end ms-auto">
                        Create powerful bonds between your brand and audience through authentic storytelling.
                    </p>
                </div>
            </div>

            <!-- CARD 2 -->
            <div class="col-12 col-md-6">
                <div class="brand-card dark">
                    <span class="brand-bg-number left">02</span>

                    <h2 class="brand-card-title">BRAND DIFFERENTIATION</h2>

                    <p class="brand-text text-end ms-auto">
                        Stand out clearly in competitive markets with a story only you can tell.
                    </p>
                </div>
            </div>

            <!-- CARD 3 -->
            <div class="col-12 col-md-6">
                <div class="brand-card dark">
                    <span class="brand-bg-number">03</span>

                    <h2 class="brand-card-title text-end">MEANINGFUL MESSAGING</h2>

                    <p class="brand-text">
                        Turn complex ideas into clear, compelling narratives people remember.
                    </p>
                </div>
            </div>

            <!-- CARD 4 -->
            <div class="col-12 col-md-6 mb-5">
                <div class="brand-card dark">
                    <span class="brand-bg-number ">04</span>

                    <h2 class="brand-card-title text-end">TRUST & LOYALTY</h2>

                    <p class="brand-text ">
                        Build long-term relationships by communicating honestly, consistently, and emotionally.
                    </p>
                </div>
            </div>

        </div>
        <img
  src="/images/BrandStories-BlanckMedia.jpg"
  alt="Description"
  class="img-fluid w-100 rounded-5 custom-rounded"
>
    </div>
</section>
