<section class="tab-page">
    <div class="intro">
        <h2>Brand Stories</h2>
        <p class="subtext">A powerful visual story that reflects who your brand is and what it stands for.</p>
    </div>

     <div class="row justify-content-center">
      <div class="col-12 col-lg-4 mb-5">
        <h3 class="mb-3">Story</h3>
        <p class="subtext">
          The story is already written, just not yet told. We translate your brand’s
          story into a beautiful, impactful video that speaks directly to your audience.
        </p>
      </div>

      <!-- Visuals + People -->
      <div class="col-12">
        <div class="row justify-content-center brand-story-bottom">

          <div class="col-12 col-md-5 col-lg-4 mb-4 mb-md-0">
            <h3 class="mb-3">Visuals</h3>
            <p class="subtext">
              Beautiful visuals that enhance the viewing experience and highlight the
              unique character, values, and personality of your brand.
            </p>
          </div>

          <div class="col-12 col-md-5 col-lg-4">
            <h3 class="mb-3">People</h3>
            <p class="subtext">
              We film and interview the key people behind your brand, capturing their
              passion and authenticity to show what truly drives your company.
            </p>
          </div>

        </div>
      </div>

    </div>
</section>
