<section class="tab-page">
    <div class="intro">
        <h2>Commercials</h2>
        <p class="subtext">Cinematic brand films that captivate and inspire.Crafted with precision to highlight your brand’s essence and leave a lasting impression.</p>
    </div>

  <div class="text-blocks-container">
    
    <div class="text-block">
      <h3>Preproduction</h3>
      <p>
        Scripting<br>
        Storyboarding<br>
        Preparation<br>
        Location Scouting<br>
        Casting<br>
      </p>
    </div>

    <div class="text-block">
      <h3>Production</h3>
      <p>
        Crew assembly<br>
        Lighting<br>
        Make up<br>
        Set design<br>
        Aerial service<br>
      </p>
    </div>

    <div class="text-block">
      <h3>Postproduction</h3>
      <p>
        Video Editing<br>
        Color Grading<br>
        Narrating<br>
        Visual Effects<br>
        Marketing<br>
      </p>
    </div>

  </div>
</section>

