<section class="tab-page">
    <div class="intro">
        <h2>Social Media</h2>
        <p class="subtext">Engaging, on-brand social media content, from captivating photos to dynamic reels, crafted to showcase your story and connect with your audience. This is combined with</p>
    </div>
</section>