<section class="tab-page">
    <div class="container">
<div class="row align-items-center mb-8">
      <div class="col-12 col-lg-6">
        <h1>COMMERCIALS</h1>
      </div>
      <div class="col-12 col-lg-6 text-lg-end">
        <p class="mb-2 small-p">Cinematic commercials<br>crafted to elevate your brand<br>and captivate audiences.</p>
      </div>
    </div>

      <div class="grid-container">
        <!-- Links Boven - REELS (groot) -->
        <div class="card card-orange flex-column  justify-content-lg-between ">
            <div>
            <h2>REELS</h2>
            <p class="card-text text-w-70">High-end, scroll-stopping videos for social media. Created with cinematic imagery and crafted to fit seamlessly within your brand identity.</p>
            </div>
          <div class="flex-row">
            <img src="/images/ReelsSmallImages.png" alt="Reels" class="reels-image">
            <a href="#" class="contact-button">Contact Jonathan</a>
          </div>
        </div>

        <!-- Links Onder - POSTING (klein) -->
        <div class="card card-white">
          <h2>POSTING</h2>
          <p class="card-text">To get the most out of the production we can also make a planning to have a consistent flow on social media.</p>
        </div>

        <!-- Rechts Boven - PHOTOS (exact de helft) -->
        <div class="card card-white">
          <h2>PHOTOS</h2>
          <p class="card-text">Beautifully curated photos designed to capture attention and reflect your brand's unique style on social media.</p>
        </div>

        <!-- Rechts Onder - ADVERTISING (exact de helft) -->
        <div class="card card-gray">
          <h2>ADVERTISING</h2>
          <p class="card-text">To get the most out of the production we also have a meta specialist that can advertise the videos and really show the results.</p>
        </div>
      </div>
    </div>
  </section>