<section class="">
  <div class="container text-center space">
    <h1 class="display-6">404 - Page Not Found</h1>
    <p class="lead">The page you're looking for doesn't exist.</p>
    <a href="/" class="btn btn-light mt-3">Go Home</a>
  </div>
</section>
