<section>
    <div class="container">
        <h1 class="PageTitle text-lg-start mb-lg-0">Contact</h1>
        <p class="subtext mb-lg-0"><strong>Have a project in mind?</strong></p>
        <p class="subtext mb-lg-5 mb-3">Feel free to reach out and request your personalized quotation, we’re here to bring your vision to life.</p>

<form class="contact-form mb-lg-5 mb-4">
    <div class="row g-4">

      <!-- Row 1 -->
      <div class="col-12 col-md-6">
        <label class="form-label">Company</label>
        <input type="text" class="form-control" placeholder="Blanck">
      </div>

      <div class="col-12 col-md-6">
        <label class="form-label">Phone Number</label>
        <input type="tel" class="form-control" placeholder="Blanck">
      </div>

      <!-- Row 2 -->
      <div class="col-12 col-md-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Blanck">
      </div>

      <div class="col-12 col-md-6">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" placeholder="Blanck">
      </div>

      <!-- Row 3 -->
      <div class="col-12">
        <label class="form-label">Question</label>
        <textarea class="form-control" rows="4" placeholder="blanck"></textarea>
      </div>

      <!-- Submit -->
      <div class="col-12">
        <button type="submit" class="btn-custom">
          Send Message
        </button>
      </div>

    </div>
</form>


  <!-- Person 1 -->
  <div class="person-row py-4">
    <div class="row align-items-start">
      <div class="col-12 col-md-6">
        <p class="person-name mb-0">Jonathan Blanckaert</p>
        <p class="person-role mb-0">Producer // cinematogpraher</p>
      </div>

      <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
        <p class="person-contact mb-0">+32 499 16 58 18</p>
        <p class="person-contact">jonathan@blanckmedia.be</p>
      </div>
    </div>
  </div>

  <!-- Person 2 -->
  <div class="person-row py-4">
    <div class="row align-items-start">
      <div class="col-12 col-md-6">
        <p class="person-name mb-0">Rune Van der Stuyft</p>
        <p class="person-role mb-0">Graphic designer</p>
      </div>

      <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
        <p class="person-contact mb-0">+32 493 68 07 36</p>
        <p class="person-contact">rune.vanderstuyft@sidewebz.be</p>
      </div>
    </div>
  </div>

  <!-- Person 3 -->
  <div class="person-row py-4">
    <div class="row align-items-start">
      <div class="col-12 col-md-6">
        <p class="person-name mb-0">Niels Cloetens</p>
        <p class="person-role mb-0">Photographer</p>
      </div>

      <div class="col-12 col-md-6 text-md-end mt-3 mt-md-0">
        <p class="person-contact mb-0">+32 494 71 27 57</p>
        <p class="person-contact">niels@blanckmedia.be</p>
      </div>
    </div>
  </div>




    </div>
</section>
