<div class="header-image">
    <img src="./images/BlanckMediaHeader.png" alt="Header">
</div>


<section class="position-relative" id="latest-work">

<div class="text-center mt-5">
  <img src="./svg/arrow-down.svg" alt="Scroll down" class="scroll-arrow">
</div>

  
  <div class="container text-center mt-9 mb-10">
    <p>We are a video production company <br> specialized in premium lifestyle.</p>
  </div>
  
  <div class="container text-center mt-5">
    <h2 class="mb-4">LATEST WORK</h2>
    
<div class="row g-3 mb-5">
      <div class="col-4">
        <img src="./images/work-1.png" alt="Work 1" class="w-100 rounded-4" style="height: auto; object-fit: cover;">
      </div>
      <div class="col-4">
        <img src="./images/work-2.png" alt="Work 2" class="w-100 rounded-4" style="height: auto; object-fit: cover;">
      </div>
      <div class="col-4">
        <img src="./images/work-3.png" alt="Work 3" class="w-100 rounded-4" style="height: auto; object-fit: cover;">
      </div>
    </div>
    
    <div class="mb-9 mt-10">
      <p class="mb-1">We create high-quality visual content for every platform</p>
      <b class="mb-4">Commercials // Social media // Brand stories</b>
    </div>

    <a href="https://calendly.com/blanckmedia"
     class="btn-primary mb-0"
     target="_blank"
     rel="noopener noreferrer">
      Plan Meeting
    </a>
  </div>
</section>


<script>
  // Selecteer het pijltje
  const arrow = document.querySelector('.scroll-arrow');

  arrow.addEventListener('click', () => {
    // Scroll naar de section met id="latest-work"
    const target = document.querySelector('#latest-work');
    if (target) {
      target.scrollIntoView({ behavior: 'smooth' });
    }
  });
</script>
