<article class="">
  <div class="container">
    <header class="page-header page-header--no-image crop-bottom">
      <div class="page-header__content no-gap">
        <h1 class="page-header__title font-ultra">{{project.title}}</h1>
        {{#if project.brand}}
          <p class="page-header__subtitle">{{project.slug}}</p>
        {{/if}}
      </div>
    </header>

    <div class="project-sections mb-5">
      {{#each project.sections}}
        {{{renderSection this}}}
      {{/each}}
    </div>

  <div class="project-navigation">
  <a href="/work" class="nav-button nav-button-left">
    <span class="icon-left"></span>
    <span>BACK TO <br> PROJECTS</span>
  </a>
  {{#if relatedProjects.length}}
    <a href="/projects/{{relatedProjects.0.id}}" class="nav-button nav-button-right">
      <span>MORE FROM <br> THIS BRAND</span>
      <span class="icon-right"></span>
    </a>
  {{/if}}
</div>
</article>